<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lab3 Sonja Javascript</title>
</head>
<!--body will hold the form and controls, and script (for now)-->
<body>

<!--create unordered empty list to be filled by user-->
<ul id="list"></ul>
<!--create input textbox and button to add items-->
<input type="text" name="textbox" id="text">
<!--<button onclick="addToList()">Add this to the list</button>-->
<button type="button" name="button" id="button">Add Items to this List</button>

<script>

    document.getElementById('button').addEventListener("click", addToList);

    function addToList() {

        var input = document.getElementById('text').value;

        if ((input != "") && (input.length < 51)) {

            var listLine = document.createElement("li");
            listLine.innerHTML = input;

            var listInput = document.getElementById("list");
            listInput.appendChild(listLine);
            console.log(listLine.innerHTML);
            document.getElementById('text').value = "";
            return value
        }

        else {
            alert("Please check your input");
//            console.log(listLine.innerHTML);
        }
    }
</script>

<!--Part 1: Create a web page with an empty unordered list,
a input text box, and button.
When the user types text into the input form and clicks the button,
the text should be added to the list, as a new list element.
When the text has been added, clear the text from the input.-->

</body>
</html>