<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lab3 Sonja Javascript</title>
</head>
<!--body will hold the form and controls, and script (for now)-->
<body>

<!--create unordered empty list to be filled by user-->
<ul id="list"></ul>
<!--create input textbox and button to add items-->
<input type="text" name="textbox" id="text">
<!--<button onclick="addToList()">Add this to the list</button>-->
<button type="button" name="button" id="button">Add Items to this List</button>

<script>
//    add event listener for button click event
    document.getElementById('button').addEventListener("click", addToList);
//    create function for use with button click
    function addToList() {
//        variable to hold text input from user
        var input = document.getElementById('text').value;
//        check for min/max input
        if ((input != "") && (input.length < 51)) {

            var listLine = document.createElement("li");
            listLine.innerHTML = input;
//            display and clear textbox
            var listInput = document.getElementById("list");
            listInput.appendChild(listLine);
            console.log(listLine.innerHTML);
            document.getElementById('text').value = "";
            return value
        }

        else {
            alert("Please check your input");
//            console.log(listLine.innerHTML);
        }
    }
</script>


</body>
</html>